.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}

.banner h1 {
  font-size: 100px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
}

.banner-content {
  padding: 90px;
}

.banner-btn {
  padding: 5px;
  color: $ab-blue;
}
