<div class="index-container">
<!-- CLIENTS LIST -->
  <div class="list-container">
    <div class="client-title">
      <h1>Les clients</h1>
    </div>

    <div id="clients">
      <%= render 'clients/list', clients: @clients %>
    </div>
  </div>
<!-- CLIENT NEW -->
  <div class="simple-form">
    <div class="simple-form-title">
      <h1>Add a client</h1>
    </div>

    <div class="simple-form-content">
      <%= render 'clients/form', client: Client.new %>
    </div>
  </div>
</div>
