<div class="index-container">

  <div class="list-container">
    <div id="appointments">
      <%= render 'appointments/list', appointments: @appointments %>
    </div>

    <div class="app-add slide-in-bottom">
      <%= link_to "Back to list", clients_path %>
    </div>
  </div>

  <div class="simple-form">
    <div class="form-title">
      <h1>Add an appointment</h1>
    </div>
    <div class="simple-form-content">
      <%= render 'appointments/new', client: @client, appointment: Appointment.new %>
    </div>
  </div>

</div>
