
  <div class="cal-container">
    <div class="cal-header slide-in-left">
      Calendar Week
    </div>

    <div class="cal-content slide-in-bottom">
      <% @days_from_this_week.each do |day| %>
        <div class="cal-card">

          <div class="cal-card-day">
            <%= day.strftime("%A %e %B") %>
          </div>

          <% appointments_of_the_day = @appointments.where(date: day) %>
          <% if appointments_of_the_day.blank? %>
            <div class="cal-card-day">
              No appointment
             </div>

          <% else %>
            <ul>
              <% appointments_of_the_day.each do |appointment| %>
                <li>
                  <div class="cal-card-content">
                    <div class="cal-card-name">
                      <%= appointment.client.name %>
                    </div>
                    <div class="cal-card-time">
                      <%= (appointment.duration / 60) %>h <%= (appointment.duration % 60) %> min
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          <% end %>

        </div>
      <% end %>

    </div>

  </div>


