<h2>Calendar Week</h2>

<% @days_from_this_week.each do |day| %>
  <h4><%= day.strftime("%A %e %B") %></h4>
    <% appointments_of_the_day = @appointments.where(date: day) %>
    <% if appointments_of_the_day.blank? %>
      <p>No appointment</p>
    <% else %>
      <ul>
        <% appointments_of_the_day.each do |appointment| %>
          <li>
            <%= appointment.client.name %>
            during
            <%= (appointment.duration / 60) %>h <%= (appointment.duration % 60) %> min
          </li>
        <% end %>
      </ul>
    <% end %>
<% end %>
