<div class="form-container">
  <div class="simple-form">
    <div class="form-title">
      <h1>Edit an appointment</h1>
    </div>
    <div class="simple-form-content">
      <%= render 'edit' %>
    </div>
  </div>
</div>
