<div class="container">

  <h1>Appointments</h1>

  <% @appointments.each do |appointment| %>
    <div class="content">
      <p><%= appointment.client.name %> on <%= appointment.date %></p>
    </div>
  <% end %>

  <%= link_to 'Back to clients list', clients_path %>
</div>
