<div class="container">

  <h1>My appointment with <%= @appointment.client.name %></h1>
  <p>Time spend <%= @appointment.duration %></p>

  <%= link_to 'Edit this appointement', edit_appointment_path(@appointment) %></br>
  <%= link_to 'Back to list', clients_path %>
</div>
